<div class="bg">
  <h1>Seasons in India.</h1>
 
  <div class="container">
    <br>
    <p>India is geographically and climatically very diverse. All across the northern frontier,
       we have the Himalayas, permanently capped with ice and blocking the cold catabatic 
       winds from freezing the Northern plains in the winter, and allowing most of India to enjoy a 
       perennially warm weather (tailormade for perennial agriculture).</p> 
       <p>In the northwest, we have the 
       Thar Desert which along with the sweltering Northern plains in the Summer, creates a low pressure 
       trough, and attract the monsoon winds, thousands of miles away from the Indian Ocean, collecting 
       the moisture and eventually raining as monsoon for 4 months, destroying the heat. 
       When the monsoon retreats, it collects moisture from the Bay of Bengal and blesses parts of South India, which is otherwise deprived during its onset. The winter is mild in most of the country, and freezing 
        temperatures are almost unheard of, except for parts of Punjab, Rajasthan and the Himalayan 
        regions ( Jammu and Kashmir, Himachal Pradesh, Northern Uttarakhand, Northern Arunachal Pradesh). 
        This is the climatic phenomenon of India.

        The weather in the different parts of India vary with altitude, latitude and distance 
        from the ocean.</p>
        <p>The four seasons according to the Indian Meteorological Department, are as follows:</p><br>
        <p>Click on them to know more!</p><br>
        <div class="container buttons1">
            <a href="#" [routerLink]="['/spring_season']" class="btn btn-primary spring-btn" role="button">The Spring Season </a>&nbsp; &nbsp;
            <a href="#" [routerLink]="['/hot_weather']" class="btn btn-primary hot-btn" role="button">The Hot Weather Season </a>&nbsp; &nbsp;
            <a href="#" [routerLink]="['/monsoon_weather']" class="btn btn-primary monsoon-btn" role="button">The Onset Of Monsoon </a>&nbsp; &nbsp;
            <a href="#" [routerLink]="['/cold_weather']" class="btn btn-primary winter-btn" role="button">The Cold Weather Season </a>&nbsp; &nbsp;
          </div><br><br><br><br>
          <h6>&copy;FCROP</h6>
          
  </div>
  </div>
