<div class = "container">
    <div class="top">
        <h1>
            Monsoons
        </h1>
 </div>
 
<img src="../assets/season/monsoon.jpg" class="img-responsive" class="center" >
<br>

<div>
  <p>
    The Indian economy gains due to good Monsoon rains in the country. On the other hand, weak Monsoon
     rains result in crop failure which affects the economy in a negative manner due to lower production. 
     Later on, this translates into price-rise, low industrial output, and other issues.</p>
     <p>Monsoon or rainy season, lasting from July to September. The season is dominated by the 
         humid southwest summer monsoon, which slowly sweeps across the country beginning in late May or
          early June. Monsoon rains begin to recede from North India at the beginning of October. 
          South India typically receives more rainfall.India actually has two monsoons –- 
          the southwest monsoon and the northeast monsoon. The southwest monsoon, which is the main 
          monsoon, comes in from the sea and starts making its way up India’s west coast in early June.
           By mid-July, most of the country is covered in rain. This gradually starts clearing from most 
           places in northwest India by October. October is a peak month in the Indian festival season 
           and many Indian families travel during Diwali holidays, pushing up demand for transport and 
           accommodations.</p>
       <h3>Common Kharif(Monsoon) Crops</h3>
       <ul>
          <li>Bajra.</li>
          <li>Jowar.</li>
          <li>Maize (corn).</li>
          <li>Millet.</li>
          <li>Rice (paddy and deepwater)</li>
          <li>Soybean.</li>
        </ul>
      </div>  
        
</div>
