<div class="bg">

<div class="top">
  <br>
  <h1>
     Programmes and Schemes
  </h1><br>
</div>


<div id="middle" class="LargeBG">
   

   <p class="para" style="font-family:courier;">
<b><em>Raitramitra</em></b><b> is a website maintained by karnataka government to help farmers in finding latest programmes and
announcement by government on agriculture sector.</b>
<a href="http://raitamitra.kar.nic.in/ENG/krushiE.asp"><b><em>Visit raitamitra.kar.nic.in!</em></b></a><br></p><br><br>

<p class="para" style="font-family:courier;">
<b><em>KKisan</em></b><b> is another website maintained by Agriculture Department, Karnataka State Government.This website provides  registration facilities to farmers for various schemes announced 
by central government and state government and this website also includes application forms for using various schemes of central government & karnataka state government.</b>
<a href="https://kkisan.karnataka.gov.in"><b><em>Visit KKisan!</em></b></a><br></p><br><br>


<p class="para" style="font-family:courier;">
<b><em>Karnataka State Agricultural Produce Processing and Export Corporation Limited (KAPEC)</em></b><b> was developed by Karnataka government To overcome the obstacles and hindrances for development of horticulture  in the interest of the farmers and as per the recommendations of the agricultural policy 
of the state and to develop and promote the production, processing and export of agriculture, horticulture and floriculture products.you can access various subsidy schemes from this website.</b>
<a href="http://kappec.kar.gov.in/"><b><em>Visit KAPPEC!</em></b></a><br></p>

<h2>&copy;Copyright gov.in</h2>
</div>

