<div class="bg">
    <div class="fcrop-body1">
<h1>Future Crops </h1>
</div>
<div class="whole-body">
	<div class="fcrop-body" id="fcrop-body">
		<table>
			<tr>
			
				
				<td>
					<div class="fcrop-info" id="fcrop-info">
						<h2>What we do </h2>
						<p class="we-do" id="we-do">
							We understand the hardships you go through to take care of your crops, and to end up with a bad yield after putting in so much of effort is just not worth it.
							<br>We at Future Crops provide you with the price prediction of a crop at any given point of time and in a given geographical region, so that, you can get better yield with lesser efforts.
							<br><br>
							Happy Farming with us!
						<p>
          </div>
          
				</td>
			</tr>
    </table>
  </div>
    <br>
    <div class="main2">
		<div class="fcrop-about" id="fcrop-about">
			<h2>About Us</h2>
			<p class="about-us" id="about-us">
				Future Crops isn't just a prediction tool, there is lot more to it than meets the eye. 
				It is a team of seven people, a team that hails from different parts of the country and is united by the tag name of an "Infoscion".
				<br>
				When not in a team we can be known as:
					<ol class="about-us" id="about-us">
						<li>Pushpanjali Chahuhan</li>
						<li>Samriddhi Nautiyal</li>
						<li>Jilu Mary Alias</li>
						<li>Shagun Ramola</li>
						<li>Riya Malik</li>
						<li>Rajat Pandey</li>
						<li>Yogita Mamgain</li>
					</ol>
			
			<p class="about-us" id="about-us">
				Under the guidance of the experienced and the learned developers of the industry, we managed to developed the Future Crops.
				It has been a very enlightening journey for us through out while developing this tool and we hope it provides you with the solution you awaited for all this while
			</p>
    </div>
    </div>
  </div>
  </div>
	





