<div class = "container">
    <div class="top">
        <h1>
           Spring
        </h1>
 </div>
 
<img src="../assets/season/flower.jpg" class="img-responsive" class="center" >
<br>

<div>
  <p>
      Spring on the Indian calendar begins on European, in March, with only 20-th.
      This time of the northeast monsoon, bringing dry and hot weather over a wide area of the country. 
      At this time of year the daily temperature ranges from 27-30 degrees. 
      Lovers of sun and beach holiday you should choose to travel this time. Already on 20 may the Indian 
      summer begins, or grisma. So at this time would be quite hot, over degrees</p>

      <p>Spring in India – a period of lush flowering. But the bright colors not only in nature. 
      In March, the country celebrates Holi – festival of colors. This is sort of a spring festival, 
      honoring the forces of fertility. Residents paint their bodies with colors. It is often possible to 
      see someone pour coloured water. Cheerful celebrations are accompanied by consumption of the drink 
      bhange, fluid from juice, milk and hemp leaves.</p>
       <h3>Farming in Spring</h3>
       <p>Spring is the season of new life and new growth. Once the ground is thawed out from the cold 
       of the winter, farmers often plant their crop. In order to do so, they must break up the thick 
       and solid ground with a machine called a cultivator. </p>
       <p>Farmers use the form of cultivation to make 
       the soil more smooth and easy to work with. This makes planting the crop easier and more efficient. 
       Once the crop is all planted into the ground, fertilizers, herbicides, and pesticides are sprayed 
       onto the crops to keep unwanted pests such as insects, and pathogens from interference with the crop 
       production. </p>

       <h3>Crops grown in Spring Season are:</h3>
       <ul>
           <li>Wheat</li>
           <li>Barley</li>
           <li>Oats (cereals)</li>
           <li>Chickpea/gram (pulses)</li>
           <li>Linseed</li>
           <li>mustard (oilseeds)</li>
       </ul>
      </div>  
        
</div>
