<div class = "container">
    <div class="top">
        <h1>
            Winter
        </h1>
 </div>
 
<img src="../assets/season/winter4.jpg" class="img-responsive" class="center" >
<br>

<div>
  <p>Winter season is very cold and one of the four seasons of India. It falls in the month of December 
      and ends in march during Holi festival. December and January are considered as the peak cold months
       of the winter season. It comes after the autumn season and finishes before the spring season 
       (later summer season).</p>
    <p>Once the monsoons subside, average temperatures gradually fall across India. As the Sun's vertical
         rays move south of the equator, most of the country experiences moderately cool weather.
          December and January are the coldest months, with the lowest temperatures occurring in the 
          Indian Himalayas. Temperatures are higher in the east and south. In northwestern India region, 
          virtually cloudless conditions prevail in October and November, resulting in wide diurnal 
          temperature swings; as in much of the Deccan Plateau, they register at 16–20 °C (61–68 °F). </p>
       <h3>Crops in winter season are:</h3>
       <p>Winter crops are annual crops sown in autumn and are harvested in spring or summer. 
           In NSW, winter crops commonly include cereals such as wheat, barley, oats and triticale; oilseeds such as canola, mustard and safflower and pulses such as lupins, chickpeas, fababeans and fieldpeas.</p>
       <ul>
          <li>Wheat</li>
          <li>Oats</li>
          <li>Oilseeds such as Canola, Mustard, Safflower</li>
          <li>Pulses such as lupins, chickpeas, fababeans</li>
        </ul>
      </div>  
        
</div>
