<app-loginnav></app-loginnav>
<div class="container-fluid">
	<div class="bg">
		<div class="fcrop-body1">
			<h1>Future Crops </h1>
		</div>
		<div class="fcrop-body">
			<table>
				<tr>
					<td>
						<div class="fcrop-abb" id="fcrop-abb">
							<span class="span-subtitle" id="span-subtitle">Who are we </span>
							<table>
								<tr>
									<td class="abb" id="abb">F<span class="span-abb" id="span-abb"> uture</span></td>
								</tr>
								<tr>
									<td class="abb" id="abb">C<span class="span-abb" id="span-abb"> rops</span></td>
								</tr>
								<tr>
									<td class="abb" id="abb" >R<span class="span-abb" id="span-abb"> elated</span></td>
								</tr>
								<tr>
									<td class="abb" id="abb">O<span class="span-abb" id="span-abb"> ppotunities</span></td>
								</tr>
								<tr>
									<td class="abb" id="abb">P<span class="span-abb" id="span-abb"> rediction</span></td>
								</tr>
								<tr>
									<td class="abb" id="abb">S<span class="span-abb" id="span-abb"> ystem</span></td>
								</tr>
							</table>
						</div>
					</td>
					<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
					<td>

					</td>
				</tr>
			</table>
		
	</div>
</div>


