<div class = "container">
    <div class="top">
        <h1>
            Summers
        </h1>
 </div>
 
<img src="../assets/season/summer.jpg" class="img-responsive" class="center" >
<br>

<div>
  <p>
        Summer or pre-monsoon season, lasting from April to June (April to July in northwestern India). 
        In western and southern regions, the hottest month is April; for northern regions of India, May is
         the hottest month.</p>
       <h3>What is done in Summer season?</h3>
       <p><b>Summer Ploughing :</b> Summer ploghing ,as the name suggests ,is ploughing of the fields 
           durings the months of summer.</p>
           
       <ul>
          <li>This makes the hidden larvae and eggs in the soil,visible to the heat of summer sun.
               Most of the larvae are either killed by heat of sun or by birds eating them.</li>
          <li>helps in uprooting the seeds of weeds and rhizomes of grass weeds. 2–4 times of deep 
              summer ploughing helps in reducing the soil borne disease,pests and weeds.</li>
          <li>It also helps in breaking Hardpan soils.</li>
        </ul><br>

        <p><b>Mulching:</b> Mulching is covering of soil to prevent moisture loss. And it is more 
            important to cover the soil during summer, as temperature get high and increases 
            evapotranspiration resulting in dry soil with cracks.</p>
            <p>Generally , soil can be covered by any substance that prevents moisture loss. But,to 
                reduce costs,any plant materials from such as straw from rice can be used. Also plants 
                can be used as live mulch.</p>
                <p>Mulching has lot of benefits like</p>
        <ul>
           <li>Reducing moisture loss.</li>
           <li>Reduce soil temperature.</li>
           <li>Supressing the weed growth.</li>
           <li>Improve fertility of soil.</li>
           <li>Reduces soil erosion.</li>
         </ul>

         <p>Crops such as cowpea also increase nitrogen content when used as mulch crop.</p>

         <h3>Some warm season crops are :</h3>
         <ul>
             <li>Beans</li>
             <li>Corns</li>
             <li>Cucumbers</li>
             <li>Melons</li>
             <li>Peppers</li>
             <li>Muskmelons</li>
             <li>Okra</li>
             <li>Tomatoes</li>
             <li>Squash</li>
         </ul>
    
   
      </div>  
        
</div>
