<div class="bg">
  <div class="top">
         <h1>
             Our Farmers
         </h1>
  </div>
  <p class="para" style="font-family:courier;" >
              As per Registrar General of India & Census report 2011 the total farmers or cultivators population 
        of India is 118.7 million (2011) & 144.3 million agricultural workers/labourers which consists 31.55 
        ot total rural population.
        The grim picture is the total numbers of farmers because we always see in percentage. During 1951 the 
        total numbers of cultivators & workers including was 97.2 million (32.55 of total rural population & 
        26.92 of total population) million but during 2011 it was 263 million (31.55 of total rural population 
        & 21.71 of total population).
        If we can assume the same level of percentage as 2011 for 2015 then total agricultural workers 
        (farmers & labourers) population will be around 273 million. 
  
        Now come to the 2nd point
  
        Around 79% farmers are small & medium where 14% are landless farmer</p>
  <img src="/assets/img/farmer4.jpg" style="width:300px;height:250px;margin-right:30px;">
  <div id="middle" class="LargeBG">
      
  <br>    
    <span class="titlebold2" style="font-size:20px;"><b>Farmers by land ownership (In %) </b></span>
          <p class="para" style="font-family:courier;">
             A recent survey by the Centre for the Study of Developing Societies (CSDS), Delhi, and 
         released by NGO Lokniti, “State of Indian Farmers: A Report”, conducted in 274 villages 
         spread over 137 district of 18 Indian states, has found that a big proportion of Indian 
         farmers are dissatisfied with their condition and would like to shift to cities, 
         if opportunities arise..
         The survey found that nearly three-fourths (72%) of farmers like their profession & around
         22% farmers said they do not like doing farming.
  
         Among those who said they like farming, 60% like it as it is their ancestral occupation, 
         15% feel a sense of pride in being a farmer, while 10% said that they like farming as it 
         gives them a good income.Another 10% said they just simply enjoy doing farming.
  
         What are the reasons of the 22% who dislike farming? 36% farmers said lack of a good income 
         is the main reason for their dislike of farming. 18% of those who dislike farming said they are
         doing it only because of family pressure. 16%  say that they see no future in this sector. 
         9% said that they wish to do another job, while 7% consider farming stressful or risky and 
         hence do not like doing it.</p>
  
  <br>    
    <span class="titlebold2" style="font-size:20px;"><b>Condition of Farmers </b></span>
          <p class="para" style="font-family:courier;">
              The overall situation of farmer is in very bad shape due to so many reasons. 
        The main reason is profitability & availability of high cost input. Whereas 
        Irrigation, labour, marginal size of land & flood/drought issues are the major 
        in farming. The labour issue increase after MANERGA in agriculture sector. 
        Farmers can increase their produce yield with help of good irrigation facilities 
        (like river linking project can help all India farmers), mechanisation, 
        cooperative/contact farming and with high yielding varieties</p>
  
      </div>
  
  